@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url('Pacificoregular.woff2') format('woff2'), url('Pacificoregular.woff') format('woff'), url('Pacificoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
