/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd-Book/fonts/CircularStd-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CircularStd-Book/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book/fonts/CircularStd-Book.otf") format("opentype"), url("../fonts/CircularStd-Book/fonts/CircularStd-Book.svg") format("svg"), url("../fonts/CircularStd-Book/fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book/fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book/fonts/CircularStd-Book.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
