/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CircularStd-Medium";
  src: url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.otf") format("opentype"), url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.svg") format("svg"), url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.ttf") format("truetype"), url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium/fonts/CircularStd-Medium.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal; }
