@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?yt4xuf');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?yt4xuf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?yt4xuf') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?yt4xuf') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?yt4xuf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-tint:before {
  content: "\f043";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-comments:before {
  content: "\f086";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-fighter-jet:before {
  content: "\f0fb";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-shield:before {
  content: "\f132";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-envira:before {
  content: "\f299";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-home1:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-whatsapp:before {
  content: "\ea93";
}
